{{ if .Site.Params.widgets.recent_articles }}

<div class="widget-wrap">
    <div class="widget">
        <ul id="recent-post">
		<li id="first-recent"><a href="sitemap.xml" id="firstmove" class="move"><h3 class="widget-title">
					最新記事
					<!--{{with .Site.Data.l10n.widgets.recent_articles.title}}{{.}}{{end}} -->
    </h3></a></li>
            {{ range first 10 (where .Site.Pages "Type" "post") }}
	    <li>
		<a href="{{ .Permalink }}" class="move">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
