{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

<div id="container">
	<div class="outer">
		<div id="blog-archives" class="category">
			<ul class="cp_list">
				{{ range $index,$value := .Data.Pages.ByLastmod.Reverse }}
				<li>
					{{ if and .Params.author .Params.github_alias }}
					<p><i class="fa-brands fa-github"></i>  <a href="https://{{ .Params.author }}.github.io/{{ .Params.githubio }}">{{ .Params.github_alias }}</a></p>
					{{ else if and .Params.author .Params.githubio }}
					<p><i class="fa-brands fa-github"></i>  <a href="https://{{ .Params.author }}.github.io/{{ .Params.githubio }}">{{ .Params.author }}</a></p>
					{{ else if and .Params.author .Params.zeen }}
					<p><i class="fa-solid fa-z"></i>  <a href="https://zenn.dev/{{ .Params.author }}/articles/{{ .Params.zeen }}">{{ .Params.author }}</a></p>
					{{ else if and .Params.author .Params.qiita }}
					<p><i class="fa-solid fa-q"></i>  <a href="https://qiita.com/{{ .Params.author }}/items/{{ .Params.qiita }}">{{ .Params.author }}</a></p>
					{{ else if .Params.author }}
					<p><img src="https://github.com/{{ .Params.author }}.png"/><a href="https://github.com/{{ .Params.author }}">{{ .Params.author }}</a> / {{ .Date.Local.Format "2006-01-02" }}</p>
					<p><a href="{{.Permalink}}">{{ .Title }}</a></p>
					{{ else }}
					{{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}">{{.Title}}</a></p>
					{{ end }}
				</li>
				{{ end }}
			</ul>
		</div>
		{{ $s := path.Dir (.Permalink | relURL) }}
		{{ $t := index (split $s "/") 1 }}
		{{ if eq $t "tags" }}
		{{- range $termName, $index := .Site.Taxonomies.tags }}
		<span class="tag"><a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}">{{ $termName }}</a></span>
		{{- end }}
		{{ end }}
	</div>
</div>
</div>
{{ partial "footer" . }}
</body>
</html>
