<div class="article-inner-first">

	<h2>
		シンプル、明解な ArchWiki
	</h2>
	<p>
		ArchLinuxJP のブログにようこそ。ここでは、ArchWikiに新しく追加したい記事アイディアやその他のTipsを、誰もが手軽に共有し、または、テンプレートそのものをより新しくするためのアイディアを投稿するために、 Git ユーザーの参加を呼びかけています。参加したい人は、<a href="https://github.com/ArchLinuxJP/archlinuxjp.github.io/tree/source">GitHub</a> からプルリクエストを送ったり、コミッターを志願することができます。
		<br>
		<br>
		Arch Linux の強固なコミュニティは多様かつ助けになり、広範なスキルセットと、それによって Arch を利用していることに誇りを持っています。<a href="https://bbs.archlinuxjp.org/">フォーラム</a>や<a href="https://lists.archlinux.org/">メーリングリスト</a>を見て参加してみて下さい。<a href="https://archlinuxjp-slack.herokuapp.com/">Slack</a> で Arch ユーザーと会話することもできます (誰でも自由に参加できます)。また、Arch について知識を深めたいと考えたのであれば、<a href="https://wiki.archlinuxjp.org/">ArchWiki</a> も覗いてみましょう。
	</p>
</div>
	<div class="rss-right"><a href="{{ .RSSLink }}"><i class="fa fa-rss-square"></i></a></div>
