<div class="content-top">
	<div id="blog-archives" class="category">
		<!--<div class="top-user">ニュース</div>-->
		<ul class="cp_list">
			{{ range $index,$value := first 5 (where $.Site.RegularPages.ByDate.Reverse "Section" "post") }}
			<li>
				<img src="https://github.com/{{ .Params.author }}.png"/><a href="https://github.com/{{ .Params.author }}">{{ .Params.author }}</a> / {{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}">{{.Title}}</a></p>
			</li>
			{{ end }}
		</ul>
		<!--
		<div class="top-user">説明</div>
		<ul class="cp_list">
			{{ range $index,$value := first 5 (where $.Site.RegularPages.ByDate.Reverse "Section" "archive") }}
			<li>
				<img src="https://github.com/{{ .Params.author }}.png"/><a href="https://github.com/{{ .Params.author }}">{{ .Params.author }}</a> / {{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}">{{.Title}}</a></p>
			</li>
			{{ end }}
		</ul>
		-->
		<!--<div class="top-user">記事</div>-->
		<ul class="cp_list_user">
			{{ range $index,$value := first 100 (where $.Site.RegularPages.ByDate.Reverse "Section" "user") }}
			<li>
				{{ if and .Params.author .Params.github_alias .Params.github }}
				<p><img src="https://github.com/{{ .Params.github }}.png"/> <a href="https://{{ .Params.author }}.github.io/{{ .Params.githubio }}">{{ .Params.github_alias }}</a></p>
				<p>github/<a href="https://github.com/{{ .Params.author }}">{{ .Params.author }}</a></p>
				{{ else if and .Params.author .Params.githubio .Params.github }}
				<p><img src="https://github.com/{{ .Params.github }}.png"/> <a href="https://{{ .Params.author }}.github.io/{{ .Params.githubio }}">{{ .Params.author }}</a><p>
				<p>github/<a href="https://github.com/{{ .Params.author }}">{{ .Params.author }}</a></p>
				{{ else if and .Params.author .Params.zeen .Params.github }}
				<p><img src="https://github.com/{{ .Params.github }}.png"/> <a href="https://zenn.dev/{{ .Params.author }}/articles/{{ .Params.zeen }}">{{ .Params.author }}</a></p>
				<p>github/<a href="https://github.com/{{ .Params.github }}">{{ .Params.github }}</a></p>
				{{ else if and .Params.author .Params.qiita .Params.github }}
				<p><img src="https://github.com/{{ .Params.github }}.png"/> <a href="https://qiita.com/{{ .Params.author }}/items/{{ .Params.qiita }}">{{ .Params.author }}</a></p>
				<p>github/<a href="https://github.com/{{ .Params.github }}">{{ .Params.github }}</a></p>
				{{ else if and .Params.author .Params.site .Params.github }}
				<p><img src="https://github.com/{{ .Params.github }}.png"/> <a href="https://{{ .Params.site }}">{{ .Params.author }}</a></p>
				<p>github/<a href="https://github.com/{{ .Params.github }}">{{ .Params.github }}</a></p>
				{{ else if and .Params.author .Params.github }}
				<p><img src="https://github.com/{{ .Params.github }}.png"/><a href="{{ .Permalink }}">{{ .Params.author }}</a></p>
				<p>github/<a href="https://github.com/{{ .Params.github }}">{{ .Params.github }}</a></p>
			{{ end }}
			</li>
			{{ end }}
		</ul>
		<ul class="cp_list">
			<li><p style="text-align:center;"><a href="/tags/"><i class="fas fa-bars"></i></a></p></li>
		</ul>
	</div>
</div>
