<div class="widget-wrap">
    <div class="widget-download">
<div class="btn-group">
<a href="http://ftp.tsukuba.wide.ad.jp/Linux/archlinux/iso/latest/">
  <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cloud-download"></i> ダウンロード</button>
</a>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <i class="fa fa-question-circle"></i> ヘルプ <span class="caret"></span>

  </button>
  <ul class="dropdown-menu">
    <li><a href="https://wiki.archlinuxjp.org/index.php/%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89">インストールガイド</a></li>
    <li><a href="https://wiki.archlinuxjp.org/index.php/%E3%83%93%E3%82%AE%E3%83%8A%E3%83%BC%E3%82%BA%E3%82%AC%E3%82%A4%E3%83%89">ビギナーズガイド</a></li>
    <li><a href="https://wiki.archlinuxjp.org/index.php/FAQ">FAQ</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.archlinuxjp.org/download/">ダウンロード</a></li>
  </ul>
</div>
</div>
</div>

